* {
  max-width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.2rem;
  border: none;
}

#tabuleiro {
  margin: auto;
  padding: 10px;
  max-width: 500px;
}

i.bi-circle::before {
  font-weight: 800 !important;
}

.item {
  border: 1px solid black;
}

.line:first-child .item {
  border-top: none;
}

.line:last-child .item {
  border-bottom: none;
}

.item:nth-child(1) {
  border-left: none;
}

.item:nth-child(3) {
  border-right: none;
}

.item {
  width: 32vw;
  height: 32vw;
  max-height: 167px;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-circle {
  color: #f00;
}

.bi-x-lg {
  color: #00f;
}

.item i {
  font-size: 23.5vw;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
  margin: auto;
}

#loading {
  margin: 25vh 0 20vh 0;
}

#result {
  text-transform: uppercase;
  font-weight: bolder;
}

.g-recaptcha {
  width: 304px;
  margin: auto;
}

.grecaptcha-badge {
  visibility: hidden;
}

a {
  text-decoration: none;
}

#create-room,
#network-error {
  max-width: 550px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@media only screen and (min-width: 500px) {
  .item i {
    font-size: 145px;
  }

  .item i.bi-circle {
    font-size: 140px;
  }

  .item {
    padding: 5px;
  }
}